* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: 'JetBrainsMonoNerd Font', Roboto, Helvetica, Arial, sans-serif;
  font-size: .9rem;
}

window#waybar {
  background: rgba(30, 30, 46, 0.6);
  color: #cdd6f4;
  font-size: .875rem;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.termite {
  background-color: #3F3F3F;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -.188rem transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
}

#workspaces button {
  padding: .3rem;
  margin-right: .6rem;
  border-radius: .25rem;
  background: #313244;
  color: #cdd6f4;
}

#workspaces button:hover {
  background: #45475a;
}

#workspaces button.focused {
  background-color: #64727D;
  box-shadow: inset 0 .188rem #ffffff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#workspaces button.active {
  background: #89b4fa;
  color: #1e1e2e;
  font-weight: bold;
}

#clock,
#battery,
#network,
#wireplumber,
#pulseaudio,
#custom-media,
#tray,
#mpris,
#custom-power {
  padding: .0rem .4rem;
  color: #ffffff;
  font-weight: bold;
  border-radius: .5rem;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}

.modules-right>widget:last-child>#pulseaudio {
  margin-right: .313rem;
}

#clock {
  font-weight: bold;
}

#clock:hover {
  background-color: #5c91e6;
}

label:focus {
  background-color: #000000;
}

#network {
  font-weight: bold;
}

#network:hover {
  border: #cdd6f4 .063rem solid;
}

#network.disconnected {
  background-color: #f53c3c;
}

#pulseaudio {
  font-weight: bold;
  color: #cdd6f4;
}

#pulseaudio:hover {
  border: #cdd6f4 .063rem solid;
}

#pulseaudio.muted {
  background-color: #90b1b1;
  color: #2a5c45;
}

#custom-power {
  font-weight: bold;
  font-size: 0.825rem;
  color: #cdd6f4;
  margin-right: .313rem;
}

#custom-power:hover {
  border: #cdd6f4 .063rem solid;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 6.25rem;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#tray {
  font-weight: bold;
}

#tray:hover {
  border: #cdd6f4 .063rem solid;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}